#bncomprar{
    background-color: #0066ff;
    border-radius: 6px;
}
.produto{
    background-color: rgb(243, 243, 243);
    border-radius: 10px;
    width: 250px;
}
body{
    background-color: rgb(134, 134, 134);
}
 table{
    margin: 20px;
    width: 20px;
    justify-items: center;
    align-items: center;
 }
  td{
    text-align: center;
     justify-items: center;
    align-items: center;

  }

  #search{
    text-align: center;
     justify-items: center;
    align-items: center;
    width: 25%;
  }